.sidebar-return-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    background-image: url("../../../static/img/return.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}

.sidebar-return-btn:hover {
    background-color: #F0F0F0;
}