<main class="profile">
    <div class="profile__title-section">
        <div class="profile__avatar">
            <div class="profile__empty-avatar"></div>
            {{#if profileData.avatar }}
                <img
                    class="profile__avatar-img"
                    src="{{ profileData.avatar }}"
                    alt="Аватар {{ profileData.chatName }}"
                >
            {{/if }}
        </div>
    </div>
    <div class="profile__edit-profile-section">
        {{> InlineInput name="oldPassword" label="Старый пароль" value="123456" password=true }}
        {{> InlineInput name="newPassword" label="Новый пароль" value="1234567" password=true }}
        {{> InlineInput name="repeatPassword" label="Повторите новый пароль" value="123456789" password=true }}
    </div>
    <div class="profile__actions-section profile__actions-section_centered">
        {{> Button type="primary" label="Сохранить" }}
    </div>

    {{> SidebarReturnBtn }}
</main>