.action-link {
    display: block;
    color: var(--link-color);
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    padding: 10px 0;
}

.action-link + .action-link {
    border-top: 1px solid var(--border-color);
}

.action-link:hover {
    color: #5380f3;
}

.action-link_warning {
    color: var(--error-color);
}

.action-link_warning:hover {
    color: #fd6d6d;
}