.inline-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: var(--text-color);
}

.inline-input + .inline-input {
    border-top: 1px solid var(--border-color);
}

.inline-input__label {

}

.inline-input__input {
    color: var(--text-secondary-color);
    border: none;
    background: none;
    max-width: 280px;
    text-align: right;
}

.inline-input__input:hover {
    background: #FBFBFB;
}

.inline-input__input:focus {
    border: none;
    outline: none;
}