.profile {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
}

.profile__title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.profile__avatar {
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile__empty-avatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 130px;
    height: 130px;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-image: url("../../../static/img/profile-empty-avatar.svg");
}

.profile__avatar-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.profile__change-avatar-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
}


.profile__change-avatar-link:hover {
    opacity: 1;
    color: #FFFFFF;
}

.profile__chatName {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}

.profile__data-table {
    margin-bottom: 60px;
}

.profile__edit-profile-section {
    margin-bottom: 60px;
}

.profile__actions-section {}

.profile__actions-section_centered {
    display: flex;
    justify-content: center;
}