<h1>Навигация по страницам</h1>
<ul>
    <li><a href="#" page="login">Логин</a></li>
    <li><a href="#" page="registration">Регистрация</a></li>
    <li><a href="#" page="chatList">Список чатов</a></li>
    <li><a href="#" page="openedChat">Открытый чат</a></li>
    <li style="margin-bottom: 20px"><a href="#" page="addUser">Добавить/удалить пользователя</a></li>

    <li><a href="#" page="profile">Профиль</a></li>
    <li><a href="#" page="profileEdit">Изменить данные</a></li>
    <li><a href="#" page="profileChangePassword">Изменить пароль</a></li>
    <li style="margin-bottom: 20px"><a href="#" page="profileChangeAvatar">Изменить аватар</a></li>

    <li><a href="#" page="error404">Ошибка 404</a></li>
    <li><a href="#" page="error5xx">Ошибка 505</a></li>
</ul>