.dialog-container {
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
}

.dialog {
    display: block;
    margin: 0;
    padding: 40px 30px;
    border: none;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 340px;
    box-shadow: 0 0 6px 0 #00000024;
}

.dialog__title {
    text-align: center;
    margin: 0 0 50px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #1E1E1E;
}

.dialog__title_error {
    color: var(--error-color);
}

.dialog__body {
    padding: 0 0 10px;
}

.dialog__footer {
    display: flex;
    flex-direction: column;
}