<div class="search">
    <label class="search__label" for="chat-search">Поиск по чатам</label>
    <input
        class="search__input"
        type="text"
        id="chat-search"
        placeholder="{{ placeholder }}"
    >
</div>
