<main class="error-page">
    <h1 class="error-page__title">{{ title }}</h1>
    <div class="error-page__description">{{ description }}</div>
    {{> Button label="Назад к чатам" type="link" backToChat=true }}
</main>